#mobile-footer-basket {
  display: none;
  width: 100%;
}

#basket-wrapper {
  display: block;
  max-width: 320px;
  flex-grow: 1;
  background-color: white;
  border-right: 1px solid rgb(195, 195, 195);
  box-shadow: -5px 0 10px rgba(128, 128, 128, 0.5);
}

.empty-basket {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 700px;
  overflow-y: auto;
  position: sticky;
  top: 144px;
}

.empty-basket-title-wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(195, 195, 195);
  border-left: 1px solid rgb(195, 195, 195);
  margin-bottom: 32px;
  padding: 16px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-text {
  width: 100%;
  max-width: 320px;
  padding: 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: rgb(176, 176, 176);
}

.bag-icon {
  height: 56px;
  width: 56px;
  margin-bottom: 16px;
}

#basket-dishes-output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-dish {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  margin-bottom: 40px;
}

.basket-dish h4 {
  padding-left: 16px;
}

.cart-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px;
  gap: 48px;
}

.amount-control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.basket-dish img {
  height: 24px;
  width: auto;
  cursor: pointer;
}

.basket-price {
  color: rgb(255 139 0);
}

.cost-breakdown-wrapper {
  margin-top: 16px;
  font-size: 20px;
}

.subtotal-price {
  padding: 16px 16px 0px;
  display: flex;
  justify-content: space-between;
  color: rgb(160, 160, 160);
}

.delivery-price {
  padding: 8px 16px 0px;
  display: flex;
  justify-content: space-between;
  color: rgb(160, 160, 160);
  gap: 72px;
}

.total-price {
  padding: 16px 16px 0px;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}
