@media (max-width: 1399.98px) {
  .description {
    font-size: 32px;
    padding-left: 16px;
  }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  #mobile-footer-basket {
    display: block;
  }

  .description {
    font-size: 24px;
    padding-left: 16px;
  }

  .rating {
    font-size: 24px;
    padding-left: 16px;
    margin: 16px 0px 24px;
  }

  .nav-style {
    font-size: 24px;
  }

  #content {
    width: 100%;
  }

  #basket-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-grow: 1;
    width: 100vw !important;
    min-height: 150vh;
    border-right: none;
    box-shadow: none;
    z-index: 50 !important;
    background-color: white;
  }

  .empty-basket {
    width: 100vw !important;
    height: 75vh;
    position: sticky;
    top: 0px !important;
  }

  .cost-breakdown {
    width: 100vw;
  }

  .basket-dishes-output {
    width: 100vw;
  }

  .cart-control {
    gap: 120px;
  }

  .basket-dish img {
    height: 32px;
  }

  .basket-price {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .description {
    font-size: 24px;
    padding-left: 16px;
  }

  .rating {
    font-size: 20px;
    padding-left: 16px;
    margin: 16px 0px 24px;
  }

  .nav-style {
    font-size: 24px;
  }

  .dish-name {
    font-size: 20px;
  }

  .dish-description {
    font-size: 16px;
  }

  .dish-price {
    font-size: 16px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 20px;
  }

  .agb_impressum {
    flex-direction: row;
    gap: 40px;
  }

  .cart-control {
    gap: 80px;
  }

  .basket-dish img {
    height: 24px;
  }

  .basket-price {
    font-size: 16px;
  }

  header {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .description {
    font-size: 16px;
    padding-left: 0;
    text-align: center;
  }

  .rating {
    font-size: 16px;
    padding-left: 0;
    margin: 16px 0px 24px;
    text-align: center;
  }

  .dishes-nav-line {
    margin-left: 0;
    margin-right: 0;
    gap: 24px;
  }

  .nav-style {
    font-size: 16px;
  }

  .dish-name {
    font-size: 20px;
  }

  .dish-description {
    font-size: 14px;
  }

  .dish-price {
    font-size: 14px;
  }

  .cart-control {
    gap: 56px;
  }

  .basket-dish img {
    height: 20px;
  }

  .basket-price {
    font-size: 14px;
  }

  header {
    font-size: 12px;
  }

  #content {
    display: flex;
    flex-direction: column;
  }
}
